<h2 class="text-center pt-sm-3 mt-sm-5">Login</h2>

<div class="add-hero-div margin-auto mt-sm-4">
  <form class="text-center">

    <mat-form-field class="login-field" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput
             placeholder="hero@gmail.com" 
             [formControl]="email" required />
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <br />
    <mat-form-field class="login-field" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput 
             [formControl]="password" required
             placeholder="Enter your password"
             [type]="passwordHide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
        <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

    <br />
  <button mat-button class="login-btn mt-sm-3 pl-sm-4 pr-sm-4 pt-sm-1"
          (click)="login(email.value, password.value);">
    Login
  </button>
  </form>
</div>
