<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark  container rounded">
    <span class="navbar-brand"><i>{{ title }}</i></span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"
             *ngIf="isLogedIn()"
            [ngClass]="{'active': getPathname() === '/dashboard'}">
          <a class="nav-link" routerLink="/dashboard">Dashboard </a>
        </li>
        <li class="nav-item"
             *ngIf="isLogedIn()"
            [ngClass]="{'active': getPathname() === '/heroes'}">
          <a class="nav-link" routerLink="/heroes">Heroes</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-sm-3">
         <li class="nav-item"
             *ngIf="isLogedOut()"
            [ngClass]="{'active': getPathname() === '/login'}">
            <a  class="nav-link" routerLink="/login">Log in</a>
         </li>
         <li class="nav-item"
             *ngIf="isLogedOut()"
            [ngClass]="{'active': getPathname() === '/register'}">
            <a  class="nav-link" routerLink="/register">Register</a>
         </li>
         <li class="nav-item logout-link"
             *ngIf="isLogedIn()">
            <a class="nav-link" (click)="logout()">Log out</a>
         </li>
      </ul>

    </div>
  </nav>
</header>

<div class="container content">

  <router-outlet></router-outlet>
  <br />

  <div *ngIf="getPathname() != '/login' && getPathname() != '/register'">
    <hr />
    <app-message></app-message>
  </div>

</div>
