<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark  container rounded">
    <span class="navbar-brand"><i>{{ title }}</i></span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"
            [ngClass]="{'active': getPathname() === '/dashboard'}">
          <a class="nav-link" routerLink="/dashboard">Dashboard </a>
        </li>
        <li class="nav-item"
            [ngClass]="{'active': getPathname() === '/heroes'}">
          <a class="nav-link" routerLink="/heroes">Heroes</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container content">

  <router-outlet></router-outlet>
  <br />
  <hr />
  <app-message></app-message>

</div>
