.content {
  padding-top: 75px;
  padding-bottom: 50px;
  background-color: white;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

  nav a:hover {
    color: #039be5;
    transform: scale(1.1);
  }

  nav a.active {
    color: #039be5;
  }

.example-spacer {
  flex: 1 1 auto;
}

.reg-link {
  border-color: #e9f0e9;
  margin-right: 30px;
  color: #e9f0e9;
}

.reg-link:hover {
  border-color: white;
  transform: scale(1.1);
  color: white !important ;
}

.logout-link:hover {
    cursor:pointer;
}

