mat-expansion-panel {
    width: 500px;
}

mat-panel-title {
  padding-top: 10px;
  padding-left: 50px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

button.clear {
  margin: 1px 1px 1px 100px;
  background-color: #2723f7;
  color: whitesmoke;
  height: 33px;
}

button:hover {
  background-color: #000dff;
  color: #ffffff;
  transform: scale(1.1)
}
