<div class="d-flex justify-content-center">
  <div>
    <div class="header">
      <div class="text-center">
        <h2>My Heroes</h2>

        <div class="border rounded m-2 p-2">
          <form>
            <mat-form-field>
              <mat-label>Hero name</mat-label>
              <input matInput placeholder="Ex. Pizza-Man" #heroName />
            </mat-form-field>

            <br />
            <mat-form-field>
              <mat-label>Hero last name</mat-label>
              <input matInput placeholder="Ex. Tabasco" #heroSurName />
            </mat-form-field>

            <br />
            <mat-form-field class="hero-age-field">
              <mat-label>Hero age</mat-label>
              <input matInput type="number" min="0" value="22" #heroAge />
            </mat-form-field>

            <button mat-mini-fab
                    (click)="add(heroName.value, heroSurName.value, heroAge.value); heroName.value=''; heroAge.value='22'; heroSurName.value=''"
                    class="add-her-btn">
              <mat-icon>add</mat-icon>
            </button>
          </form>
        </div>
      </div>
    </div>

    <div *ngIf="heroes.length" class="mt-5">
      <ul class="heroes">
        <li *ngFor="let hero of heroes; let ind = index">
          <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{ind}}</span> {{hero.firstName}} {{hero.secondName}} ({{hero.age}}), {{hero.countOfMessages}} messages
          </a>
          <button class="delete" title="delete hero"
                  (click)="delete(hero)">
            x
          </button>
        </li>
      </ul>
    </div>
  </div>

</div>
