<div class="row">
  <div id="search-component" class="search-component align-content-center justify-content-center">
    <mat-form-field class="search-input">
      <mat-label>Hero Search</mat-label>
      <input matInput
             #searchBox           
             (input)="search(searchBox.value)"
             placeholder="Start to enter f.e. 'Spider-Man'">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <ul class="search-result">
      <li *ngFor="let hero of heroes$ | async">
        <a routerLink="/detail/{{hero.id}}">
          <span>{{hero.firstName}} {{hero.secondName}} ({{hero.age}})</span>
        </a>
      </li>
    </ul>
  </div>
</div>
